{% load static %}
<div>
    <div class="about_class" id="about">
        <h4>Мы изучаем массовые процессы и явления в сфере внешней торговли, характеризующие
            перемещение товаров через таможенные границы, а также деятельность таможенных органов.</h4>
        <h5><i class="fa-solid fa-calendar-days"></i>   Максимальная информативность и актуальность</h5>
        <p>Самые актуальные данные на рынке и регулярные обновления
        <h5><i class="fa-solid fa-database"></i>   Полная автоматизация процесса отчетности</h5>
        <p>Вам больше не нужно тратить время на изменение отчета вручную – мы сделаем всё за Вас</p>
        <h5><i class="fa-solid fa-globe"></i>   Доступ к данным в любое удобное время</h5>
        <p>Не важно, где Вы находитесь – в офисе или в самолете, Ваша аналитика всегда под рукой</p>
    </div>
</div>
    <img src="{% static 'test_main/img/3.png' %}" alt="worklogo" class="work">
<div>
</div>
