<h5 class="contact_us" id="contact"><b>Контакты</b></h5>
<ul class="contact_menu">
    <li class="1h"><a href="1"><i class="fa-solid fa-envelope"></i>   ruscus@mail.ru</a></li>
    <li class="1h"><a href="2"><i class="fa-solid fa-phone"></i>   +7(475)987-07-70</a></li>
    <li class="1h"><a href="3"><i class="fa-brands fa-square-whatsapp"></i>   WhatsApp</a></li>
    <li class="1h"><a href="4"><i class="fa-solid fa-paper-plane"></i>   Telegram</a></li>
</ul>

<h5 class="menu_foot"><b>Меню</b></h5>
<ul class="menu_us">
    <li class="2h"><a href=""><b>Главная</b></a></li>
    <li class="2h"><a href=""><b>О нас</b></a></li>
    <li class="2h"><a href=""><b>Деятельность</b></a></li>
    <li class="2h"><a href=""><b>Контакты</b></a></li>
</ul>