{% extends 'test_main/basis.html' %}
{% load static %}

{% block title %}Таможенная статистика Российской Федерации{% endblock %}

{% block home %}
    <div id="home">
        <h4 class="home_class">Российская таможенная статистика является основным аналитическим инструментом,
            которые дает полную информацию касаемо статистики импорта и экспорта. Сюда входит и объем импорта-экспорта,
            и все остальные показатели, благодаря которым становится возможным анализировать
            импортно-экспортные операции с высокой точностью.</h4>
        <img src="{% static 'test_main/img/2.png' %}" alt="logo" class="schedule">
    </div>
{% endblock %}

